:root {
	--sidebar-size: auto;
}

#sidebar-wrapper {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	width: var(--sidebar-size);
	background: #2d2d2d;
	position: fixed;
	height: 100%;
	z-index: 10000;
	transition: all 0.4s ease 0s;
}

.sidebar-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
	max-height: 80vh;
}

#sidebar-wrapper.active {
	transform: translateX(0%);
	transition: all 0.4s ease 0s;
}

#sidebar_menu li a,
.sidebar-nav li a {
	color: #999;
	display: block;
	text-decoration: none;
	width: var(--sidebar-size);
	background: #2d2d2d;
	border-top: 1px solid #373737;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
	transition: background 0.5s;
}

#sidebar_menu li:last-child a,
.sidebar-nav li:last-child a {
	border-bottom: 1px solid #373737;
}

#sidebar-wrapper .submenu a {
	background: #323232 !important;
}

.sidebar-nav li {
	line-height: 40px;
	text-indent: 20px;
}

.sidebar-nav li a {
	color: #999999;
	display: block;
	text-decoration: none;
}

.sidebar-nav li a:hover {
	color: #fff;
	text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	text-decoration: none;
}

.sub_icon {
	padding-right: 30px;
	padding-top: 10px;
}
